<div class="main-header">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="orange">
        
       <div>
        <a href="/home" style="color: blanchedalmond;">
            <img src="/images/haivtech.svg" width="200px" height="150px" />
         </a>
       </div>
        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-list"></i>
            </span>
        </button>
        <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
        <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
                <i class="fa fa-list"></i>
            </button>
        </div>
    </div>
    <!-- End Logo Header -->

    <!-- Navbar Header -->
    <nav class="navbar navbar-header navbar-expand-lg" data-background-color="orange">
        
        <div class="container-fluid">
            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                <li class="nav-item dropdown hidden-caret">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                        <div class="avatar-sm">
                            <img id="image2" src="assets/img/logo.png" alt="..." class="avatar-img rounded-circle">
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                        <div class="dropdown-user-scroll scrollbar-outer">
                            <li>
                                <div class="user-box">
                                    <div id="profile" class="u-text"></div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </li>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Navbar -->
</div>

<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        listProfile();
        function listProfile(){
        $.ajax({
            type: 'GET',
            url: '/users/profile',
            dataType: 'json',
            success : function(response){
                // console.log(data);
                const { data } = response
                var html = '';
                var i;
                for(i=0; i<data.length; i++){
                    var logo = document.getElementById('image2');
                    logo.src = "assets/img/"+data[i].image+"";
                    
                    html +=
                        '<h4>'+data[i].username+'</h4>'+
                        '<p class="text-muted">'+data[i].email+'</p><a href="/about" class="btn btn-xs btn-secondary btn-sm">About App</a>';
                }
                $('#profile').html(html);
            }
        });
    }
    });
    </script>